.background {
  background: url(../Images/background.png);
  background-size: 100%;
 /* position: absolute;*/
/*  left: 0px;
  top: 0px;*/
/*  width: 1018px;*/
  height: 1018px;
/*  margin: 0 auto;*/
/*  z-index: 1;*/
margin-top: 45px; 

}

.logo {
/*	position: absolute;*/
	/*padding-top: 15px;*/
	margin-left: 37px;
	float: left;
	margin-top: 15px; 
	display: block; 
}

.parent {
	margin: 0 auto;
	width: 1002px;
	height: 988px;
	background-color: #ffffff;
	overflow: hidden;
	/*margin-left: 142px; */

}

.photo {
	width: 100%;
	height: 232px;
	position: hidden;
	margin-top: 0px;
	display: block;
}

.center_panel {
	width: 100%;
	height: 34px;
	background-color: #333333;
	display: block;
}

.sidebar_left {
	float: left;
	width: 209px;
	height: 543px;
	background-color: #edeef0;
}

.sidebar_right {
	float: right;
	width: 209px;
	height: 543px;
	background-color: #edeef0;
	padding-bottom: 20px; 
	overflow: hidden;
}

h2 {
	font-family: Tahoma;
	font-size: 18px;
	text-align: center;
}

p {
	font-family: Tahoma;
	font-size: 14px;
	text-align: center;
}

span {
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
	position: absolute;
  left: 551px;
  top: 1039px;
  color: #dee7ee;
}

.contacts {
	float: right;
	color: #128aa7;
	font-family: Tahoma;
	font-size: 11px;
	text-align: left;
	margin-right: 5px; 
	margin-top: 10px;
	margin-left: 200px; 
	width: 150px;
	line-height: 0px;
}

.countries {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.flag {
	float:right;
	padding-right: 10px;
	padding-left: 10px;
}

.Индия {
  font-size: 10px;
  font-family: "Tahoma";
  color: rgb( 18, 138, 167 );
  text-decoration: underline;
  text-align: left;
  position: absolute;
  left: 7px;
  top: 44.365px;
  width: 29px;
  height: 11px;
  z-index: 64;
}


