@import "tools";

.page-header {
  padding-top: 3rem;
  &__promo {
    margin: auto;
    padding: 5rem 0;
    @media #{$tablet} {
      padding: 10rem 0;
    }
  }
}

.navbar {
  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

.logo {
  display: block;
  padding: 0.5rem;
  border: 2px solid transparent;
  color: $primary-light;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  @media (max-width: 767px) {
    width: 30%;
    margin: 0 auto;
  }
  &:hover {
    border: 2px solid $primary-light;
    text-shadow: 0 0 5px $primary-light;
  }
}

.menu {
  display: flex;
  @media (max-width: 767px) {
    flex-flow: row wrap;
    margin-top: 2rem;
  }
  @media #{$tablet} {
    flex-basis: 50%;
    flex-grow: 0;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 30%;
    flex-grow: 0;
  }
  &__link {
    display: block;
    border: 2px solid transparent;
    color: $primary-light;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      border: 2px solid $primary-light;
      text-shadow: 0 0 5px $primary-light;
    }
  }
}

.promo {
  text-align: center;
  color: $primary-light;
  &__title {
    @include font-settings(large);
    @media #{$tablet} {
      @include font-settings(xs-large);
    }
  }
}
