@import "tools";

.section {

    &__flex {
	    @media #{$notebook} {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    }

	    @media #{$tablet} {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    }

	    @media screen and (min-width: 1024px) {
		   padding-left: 7%;
		   padding-right: 7%;
	    }
    }

	&__header {
		text-align: center;
		@media #{$tablet} {
	      padding-top: 3rem;
	    }
	}

	&__title {
		font-size: 1.25rem;
		@media #{$tablet} {
	      @include font-settings(extra);
	    }
	}

	&__items {
		
		position: relative;	
		padding-bottom: .25rem;
		@media #{$tablet} {
	      padding: .5rem;
	    }
	}

	&__img {
		
		@media #{$tablet} { 
	    }

	    &--act {
		    @media #{$tablet} {
		    height: $height2;
	    }

	    @media #{$notebook} {
		    height: $height3;
	    }
	}
}
}

.inform {
    text-align: left;
    position: absolute;
    bottom: 10%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

	&__text {
		color: $secondary-light;
		@include font-settings(xs);
	}

	&__button {
		color: $light;
		background-color: $red;
		border-radius: 20px;
		padding: .5rem 1rem;
	}

	&__title {
		color: $light;
	}
}

.bx-wrapper {
	@media #{$mobile} {
		    margin: 0 auto -12%;
		    width: 100%;
	    }

   

    @media #{$tablet} {
		    width: 33%;
	    }

    @media screen and (min-width: 1024px) {
	    margin: 10px;
    }


    @media #{$notebook} {
		    margin: 10px;
	    }
}

.images1 {
	height: 240px;
	width: 270px;
	background: url('../img/work-1.jpg') no-repeat;
	@media #{$tablet} {
		    display: none;
	    }
}

.images2 {
	height: 240px;
	width: 270px;
	background: url('../img/work-2.jpg') no-repeat;
	@media #{$tablet} {
		    display: none;
	    }
}

.images3 {
	height: 240px;
	width: 270px;
	background: url('../img/work-3.jpg') no-repeat;
	@media #{$tablet} {
		    display: none;
	    }
}




