// Для телефонов c большим экраном
$mobile: "screen and (min-width: 480px)";
// Для нетбуков и планшетов
$tablet: "screen and (min-width: 768px)";
// Для больших экранов
$notebook: "screen and (min-width: 960px)";
