.wrapper {
	margin: 0 auto;
	width: 998px;
	height: 1310px;
	background-color: #fff;
	border: 1px solid #000;
}

header {
	position: absolute;
	height: 57px;
	display: block;
}

.container {
	position: relative;
}

.number1 {
	position: relative;
	padding: 22px 0px 11px 78px;
	float: left;
	font-family: Arial;
	font-size: 18px;
	color: #878e91;
	font-weight: 600;
}

.number2 {
	position: relative;
	padding: 22px 6px 0 6px;
	float: left;
	font-family: Arial;
	font-size: 18px;
	color: #878e91;
	font-weight: 600;
}

.top_panel {
	position: relative;
	float: left;
	display: block;
	width: 495px;
	height: 25px;
	background: linear-gradient(to top, #0e385d, #1e6383);
	border-radius: 4px;
	margin: 18px 0px 11px 9px;
}

.login {
	position: relative;
	float: left;
	padding: 3px 0px 3px 25px;
	border-radius: 1px; 
}

.password {
	position: relative;
	float: left;
	padding: 3px 0px 3px 7px;
	border-radius: 1px; 
}

input {
	width: 113px;
	height: 12px;
	/*-webkit-box-shadow: 1px 1px 8px 1px rgba(155,161,163,1);
-moz-box-shadow: 1px 1px 8px 1px rgba(155,161,163,1);
box-shadow: 1px 1px 8px 1px rgba(155,161,163,1);*/
}

.top li {
	display: block;
	float: left;
	font-size: 11px;
	color: #fff;
	padding: 5px 0px 3px 0px;
	margin: 0;
	position: relative;
}

ul {
	padding: 0;
	margin: 0;
}

.zazor {
	position: relative;
	left: 45px;
	top: 54px;
	width: 909px;
	height: 237px;
}

.middle_panel {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 13, 22, 66 );
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 87, 96, 104 ) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 87, 96, 104 ) 100%);
	box-shadow: 1.5px 2.598px 5px 0px rgb( 0, 0, 0 );
	position: absolute;
	left: 45px;
	top: 298px;
	width: 908px;
	height: 31px;
}

.middle_panel li {
	display: block;
	float: left;
	font-size: 16px;
	color: #fff;
	padding: 5px 8px 3px 25px;
	margin: 0;
	position: relative;
	font-family: "Lucida Sans Unicode";
	color: rgb( 255, 255, 255 );
}

.middle_panel li:first-child {
	padding-left: 145px; 
}

.search1 {
  border: 1px solid rgb( 156, 156, 157 );
  border-radius: 17px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 2.5px 4.33px 5px 0px rgb( 104, 104, 104 );
  position: absolute;
  left: 50px;
  top: 343px;
  width: 412px;
  height: 132px;
}

.search2 {
  border: 1px solid rgb( 156, 156, 157 );
  border-radius: 18px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 2.5px 4.33px 5px 0px rgb( 150, 150, 150 );
  position: absolute;
  left: 479px;
  top: 342px;
  width: 190px;
  height: 134px;
}

.search3 {
  border: 1px solid rgb( 156, 156, 157 );
  border-radius: 16px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 2.5px 4.33px 5px 0px rgb( 150, 150, 150 );
  position: absolute;
  left: 681px;
  top: 342px;
  width: 266px;
  height: 133px;
}

.main {
	/*display: flex;
	flex-wrap: wrap;
	 flex: calc(100% / 3);
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;*/
/*	justify-content: center;*/
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb( 35, 75, 93 ) 0%, rgb( 201, 207, 209 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 35, 75, 93 ) 0%, rgb( 201, 207, 209 ) 100%);
  position: absolute;
  left: 235px;
  top: 492px;
  width: 527px;
  height: 628px;

}

footer {
	position: relative;
	clear: both;
}

.footer {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 36, 42, 60 );
  background-color: #213a4d;
  position: absolute;
  left: 43px;
  top: 967px;
  width: 912px;
  height: 104px;
}

.wheel {
	float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 164, 174, 177 );
  border-radius: 7px;
  background-color: rgb( 255, 255, 255 );
  position: relative;
  margin: 48px 15px 18px 15px;
  width: 142px;
  height: 131px;
/*  margin: 0;*/
}
