#timer1 {
	height: 30%;
	width: 90%;
	background-color: #e6e6e6;
	top: 20px;
	left: 60px;
	position: absolute;
	float: left;
	border-radius: 25px;
	border: 3px solid black; 
}

button {
	position: relative;
	float: left;
	top: 200px;
	left: 200px;
	margin-right: 80px; 
}

#watch {
	position: relative;
	font-size: 155px;
	top: 10;
	line-height: 145px;
	left: 280px;
}

#time {
	margin-top: -10px;
	float: right;
	margin-right: 400px;
	font-size: 30px;
}