@import 'reset';

@font-face {
  font-family: UbCondReg;
  src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

@font-face {
  font-family: UbM;
  src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
}

$light-background: #f7f7f7;
$dark-background: #2a2d32;
$li_hover: #e0a813;
$Grey: #747577;
$Blue: #248cec;
$White: #ffffff;
$darkGrey: #35383c;
$Yellow: #f4b60d;
$Black: #000000;

$transitionTime: .3s;
$block_width: 920px;

body {
	background-color: $light-background;
}

.general {
	width: 100%;
	background-color: $light-background;
}

.panel {
	margin: 0 auto;
	width: 70%;
}

.down-panel {
	margin: 0 auto;
	width: 100%;
}

.sprite-article_style {
   display: block;
	        left: 33%;
	        position: absolute;
	        top: -10%;
	        width: 32px;
	        height: 32px;
	        content: '';
	        background: url("../img/sprite-icon-article.png")
	        no-repeat;
}

.news {
	@extend .general;
	overflow: hidden;
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block;
	   position: relative;
	   float: left; }

  a {
    display: block;
    text-decoration: none;
  }
}

.top,
.top-panel,
.articles,
.photos,
.title {
	@extend .panel;
}

//FIRST SECTION

.first {
	@extend .general;

		.top-panel {
			font-family: UbM;
			height: 4vw;
			font-size: 1.2vw;
			background-color: $dark-background;

			li {
				
				border-right: 1px solid #000;
			}

			.btn-primary {
				background-color: $Blue;
				cursor: pointer;
			}

			a {
				color: #fff;
				background-color: $dark-background;
				padding: 1.3vw;
			}

			a:hover {
				color: $li_hover;
			}
		}
		
		.media-panel {
			position: relative;
			float: right;
			width: 75%;

			nav ul {
				float: right;

			li {
				padding-left: 15px;
				padding-right: -16px;
			}
		}
    }

    @media (max-width: 500px) {
	    .media-panel {
		    width: 100%		    
	    }
    }
		.top {
			margin-top: 30px;
			height: 70px;
		}

		.build_home {
			width: 25%;
			position: relative;
			float: left;
		}

		.search {
			position: relative;
			float: right;

			input {
				background-image: url(../img/search.png);   
			    background-repeat: no-repeat;   
			    background-position: 95%;      
			    font-size: 1vw; 
				background-color: $dark-background;
				border: 1px solid #000;
				padding: 0.5vw;
				margin: 0.5vw;
				height: 2vw;
				outline: none;
			}
		}

		.articles {
			font-family: UbM;
			position: relative;
			margin-top: 12%;
			padding-bottom: 18%;

			.article {
				position: relative;
				float: left;
				margin-bottom: 20px;
				$block_width: 920px;
				width: 33%;

					&:nth-child(1) {
				      &:before {
				        @extend .sprite-article_style;
				        background-position: 0 0;
				      }			      
				    }

				    &:nth-child(2) {			      
				      &:before {
					    @extend .sprite-article_style;
				        background-position: -35px 0;
				      }
				    }

				    &:nth-child(3) {			     
				      &:before {
					    @extend .sprite-article_style;
				        background-position: -70px 0;
				      }
				    }

				.info {
					position: relative;
					float: left;
					padding-right: 5px;
					font-size: 1vw;
					width: 70%;
						.info_title {
							padding-left: 38px;

						}
						.info_descr {
							padding-left: 38px;
							color: $Grey;
						}
						.info_link {
							padding-left: 38px;
							color: $darkGrey;
							text-decoration: none;
							span {
								color: $Blue;
								font-weight: bold;
							}
							span:hover {
								color: $darkGrey;
							}

							&:hover {
								color: $Blue;
							}
						}
					  }
				}

				.info_n {
					width: 20%;
					position: relative;
					margin-top: -12%;
					float: left;

					.num {
						text-align: center;
						font-size: 6vw;
						color: #000;	
						margin-right: 5px;
						font-family: UbM, sans-serif;					
					    opacity: .1;
				}
			}
		}
}

//SERVICES

.services {
	padding-top: 2%;
	padding-bottom: 3%;
	position: relative;
	width: 100%;
	height: 120%;
	font-family: UbM;
	background-color: $dark-background;
	overflow: hidden;

		p {
			color: #fff;
			font-size: 21px;
			padding-left: 19px;
		}
		.photos {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			height: 95%;
			overflow: hidden;

				figure {
					margin: 0;
					padding: 2%;
					width: 20%;
					height: 30%;

						img {
							height: 70%;
							width: 100%;
			}

			img:hover {
				transition: all $transitionTime;
				opacity: .5;  
				cursor: pointer;
			}

			.flex-item {
				color: #fff;
				text-align: center;
				margin-top: 24px;
			}

			.flex-item:hover {
				color: $li_hover;
				cursor: pointer;
			}
		}
	}    
}

//LAST SECTION

.last {
	@extend .general;
	height: 100%;
	background-color: $dark-background;

		.section-footer {
		  background-color: $dark-background;
		  @extend .down-panel;
		  height: 95%;
		  overflow: hidden;

			  .result {
				  height: 95%;
				  @extend .panel;
				  background-color: $dark-background;
			  }
  
	  .f-nav {
		  width: 100%;
		  
	    .item {
	      display: flex;
	      flex-direction: column;
	      padding-right: 2%;
	      padding-left: 2%;
	      padding-bottom: 4%;	
	      width: 20%; 
	      height: 80%;   
	    }

	    .head {
	      margin: 45px 0 20px;
	      text-transform: uppercase;
	      color: $White;
	      font-family: UbM, sans-serif;
	      font-size: 1em;
	      padding-right: 15%;
	    }

	    .link {
	      display: block;
	      border-bottom: 1px solid $Grey;
	      font-family: Arial, sans-serif;
	      font-size: 1vw;
	      color: $Grey;
	      text-decoration: none;
	      line-height: 3em;
	      &:last-child {
	      border-bottom: none;
	      }

	      &:hover {
	        color: $Blue;
	      }
	    }
	  }
	}

	.footer {
		height: 5%;
		overflow: hidden;
		background-color: $darkGrey;
		@extend .down-panel;

		.footer-last {
		  background-color: $darkGrey;
		  @extend .panel;
		  height: 100%;

			  .f-info {
			    width: 100%;
			    display: flex;
			    justify-content: space-between;
			    padding: 2% 0;

				    &__list{
				      display: flex;
				      color: $Grey;
				    }

					    &__item {
					      margin: 0 20px 0 0;
					      list-style-type: none;
					      font-size: 1vw;
					    }

					    &__icon {
					      display: inline-block;
					      height: 16px;
					      width: 20px;
					      margin: 0 10px 0;
					      background: url("../img/sprite-footer-iconl.png") no-repeat;

					      &--pick {
					        width: 14px;
					        background-position: 0 0;
					      }

						      &--mob {
						        width: 12px;
						        background-position: -15px 0;
						      }

						      &--sms {
						        width: 18px;
						        background-position: -28px 2px;
						      }
						   }

						    &__right-box {
						      color: $Grey;
						      font-size: 1vw;
						      padding-top: 4px;
						    }
					}
				}		
			}			
		}




