.main {
	height: 40%;
	width: 600px;
	margin: 50px auto;
	border: 1px solid #eee;
}

.topbar {
	position: relative;
	height: 50px;
	width: 570px;
	border: 1px solid #eee;
	margin: 5px auto;
}

.first {
	margin: 20px;
}

.second,
.third,
.fourth {
	margin: 20px;
	display: none;
	overflow: hidden;
}

