.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-footer1 {
    width: 143px;
    height: 62px;
    background-position: -6px -6px;
}

.sprite-footer2 {
    width: 143px;
    height: 62px;
    background-position: -161px -6px;
}

.sprite-footer3 {
    width: 184px;
    height: 64px;
    background-position: -316px -6px;
}

.sprite-footer4 {
    width: 143px;
    height: 62px;
    background-position: -512px -6px;
}

.sprite-footer5 {
    width: 143px;
    height: 62px;
    background-position: -667px -6px;
}

.sprite-footer6 {
    width: 143px;
    height: 62px;
    background-position: -822px -6px;
}
