<div class="wrapper container">
  
 
  <section class="ideas v-align">
    <h3 class="section__title">Discover holiday activity ideas</h3>
    <div class="tile" id="tile-container">
      
    <script type="tpl/lodash" id="article__item">
      <div class="tile__item">
        <img class="tile__img" src='<%- img %>' alt="img">
        <h2 class="tile__title"><%- author %></h2>
      </div>
    </script>

    </div>
  </section>
  <section class="container">
    <h3 class="section__title">Discover holiday activity ideas</h3>
    <p class="header__text">Hi! What are your holiday interests?</p>
    <div class="row form">
      <div class="col-sm-6 search__input-box">
        <input type="text" class="form__input" id="searchIn" placeholder="Enter your interests">
      </div>
      <div class="col-sm-6 search__btn-box">
        <button class="section__button search section__button--form" id="searchBtn">Search partners</button>
      </div>
    </div>
  </section>
 
</div>