@import "tools";

.header {
	&__title {
		text-align: center;
		padding: 1rem 0;
		@media #{$tablet} {			  
			      padding: 3rem 0 1rem;
		    }
		}

	&__text {
		text-align: center;		
	}
	}

.form {
		text-align: center;
		padding-bottom: 3rem;
		&__box {
			padding: .5rem;
			@media #{$tablet} {			  
			      padding: 0;
		    }
		}

		&__form {
	    padding: 2rem 0;
	    }

		&__input {
			padding: .7rem;
			width: 85%;
			border: 1px solid $secondary-dark;
			color: $secondary-dark;
			@media #{$tablet} {			  
			      float: right;
		    }
		}

		&__input[placeholder] {
			color: $secondary-dark;
		}
	}