@import "tools";

.foot {
  @media #{$tablet} {
      padding: 2rem;
    }
}

a.red {
	color: $red;
}

li.logo-panel {
    padding-bottom: 1rem;
a {
	color: $secondary-dark;
	padding-right: .5rem;
	}
}

.text {
	&__logo {
		font-size: .8rem;
		color: $secondary-dark;
		@media #{$tablet} {
			margin-top: -3.5rem;      
    }
	}

	&__logo2 {
		padding: 0 0 2rem;
	}
}

.log {
    @media #{$tablet} {
	margin-top: -7.5rem;
	}
}




