@import "tools";

.section {
	&__button {
		padding: 1rem 0 1rem;
		border-radius: 20px;
		width: 100%;
		margin-top: 3%;

		&--white {
			color: $red;
			background-color: $light;
			border: 2px solid $red;
			padding: 1rem 4rem;
		}

	    &--red {
		    background-color: $red;
		    color: $light;
		    @media #{$tablet} {
			      width: 70%;
		    }
		    @media #{$notebook} {
			      width: 60%;
		    }
		}

		&--form {
			background-color: $red;
		    color: $light;
		    width: 85%;
		    @media #{$tablet} {
			      width: 60%;
			      padding: .75rem;
			      float: left;
			      margin-left: .5rem;
		    }
		    @media #{$notebook} {
			      width: 60%;
		    }
		}

		&--head {
		    padding: 1rem 1.55rem;
	    }
	}
}