.wrapper {
	height: 500px;
	width: 700px;
	background-color: #fff;
	border: 1px solid #000;
	margin: 30px auto;
}

.button {
	width: 40%;
	margin-left: 200px;
	margin-top: 20px;
}

.checkin,
.checkin2,
.checkin3,
.checkin4,
.checkin5,
.checkin6,
.checkin7,
.checkin8,
.checkin9
 {
	list-style-type: none;
}

.h4 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

li {
	font-weight: bold;
	font-size: 16px;
}

li label {
	font-size: 14px;
}

ol.questions {
	margin-top: 40px;
}