@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.background {
	width: 100%;
	height: 1080px;
	background-size: 100%;
	margin: 0 auto;
}

.panel {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #074f8d;
	margin: 0 auto;
}

.container {
	position: absolute;
	left: 394px;
	top: 249px;
	height: 613px;
	width: 560px;
	background-color: rgba(57,64,54,0.631);
}

h2 {
	text-align: center;
	color: #fff;
	font-family: "Helvetica Neue Regular", Arial, sans-serif;
}

h2:first-letter {
	text-transform: capitalize;
}

.facebook {
	padding: 25px 140px 15px;
}

.name {
	margin: 20px 140px 10px;
	width: 280px;
	height: 30px;
	font-size: 14px;
	clear: both;
}

input.input {
	height: 30px;
	width: 260px;
	margin-bottom: 15px;
	padding-left: 10px;
	background-color: #0f0f0f;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #686c68;
	clear: both;
}

input.input:hover {
	background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 11px 3px rgba(104,155,204,0.67);
	-moz-box-shadow: 0px 0px 11px 3px rgba(104,155,204,0.67);
	box-shadow: 0px 0px 11px 3px rgba(104,155,204,0.67);
}

a {
	text-decoration: none;
	color: #357fb9;
}

.menu li {
	float: right;
	display: block;
	padding: 11px 20px 13px 20px;
	color: #357fb9;
	font-size: 14px;
}

.menu {
	margin: 0;
}

a.a {
	color: #fff;
}

li.a {
	color: #fff;
}

li a.a {
	padding-top: 10px;
}

ul.menu li:nth-child(2) {
	padding-top: 0;
}

ul.menu li:nth-child(3) {
	padding-top: 0;
}

.menu li:hover {
	background-color: #4eabda;
	color: #fff;
}

a:hover {
	color: #fff;
}

li:first-child:hover,focus {
	background-size: 100%;
	background: linear-gradient(to top, #2f7cc5, #4ca8d9);
}

li:nth-child(2):hover {
	background: linear-gradient(to top, #2f7cc5, #4ca8d9);
}

li:nth-child(2):before {
	content: ' ';
    background: url(../images/flag.png) no-repeat;
    height: 13px;
    width: 21px;
    position: relative;
    display: inline-block;
    top: 11px;
    right: 5px;
    padding-top: 11px;
}

li:nth-child(3):after {
	content: ' ';
    background: url(../images/border.png) no-repeat;
    height: 25px;
    width: 2px;
    position: relative;
    display: inline-block;
    top: 7px;
    left: 20px;
   /* color: white;*/
    /*padding-top: 11px;*/
}

/*li:nth-child(3) {
	display: block;
	height: 10px;
}*/

.checkbox {
	padding: 20px 140px 0;
	color: #ccc;
}

button {
	padding: 7px 10px 10px 10px;
	color: #fff;
	background: url(../images/layer.png) no-repeat;
	font-size: 14px;
	border: none;
	display: block;
	position: absolute;
	overflow: hidden;
	height: 30px;
}

.button {
	margin: 16px 207px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	height: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.hr1 {
	float: left;
	margin: 2px 4px 20px 140px; 
	width: 118px;
	height: 5px;
	border-bottom: 1px solid  #999;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}

.hr2 {
	float: left;
	margin: 2px 5px 20px 4px; 
	width: 118px;
	height: 5px;
	border-bottom: 1px solid  #999;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}

span {
	float: left;
	color: #999;
}

p {
	line-height: 2px;
	text-align: center;
	color: #ccc;
	font-size: 11px;
	font-family: "Helvetica Neue Regular", Arial, sans-serif;
}

label {
	font-family: "Helvetica Neue Regular", Arial, sans-serif;
}


